doctype html
html
    head
        title Overanalyzed
        script(src=`${bundleBaseUrl}/bundle.js`, type="text/javascript")
        link(href=`${bundleBaseUrl}/blueprint.css`, rel="stylesheet")
    body
        h1 Overanalyzed
        span(class="pt-icon-standard pt-icon-projects")