doctype html
html
    head
        title Overanalyzed
        script(src=`${bundleBaseUrl}/bundle.js`, type="text/javascript")
        link(href=`//unpkg.com/@blueprintjs/core@1.11.1/dist/blueprint.css`, rel="stylesheet")
        link(href=`//unpkg.com/@blueprintjs/datetime@1.9.1/dist/blueprint-datetime.css`, rel="stylesheet")
        link(href=`//unpkg.com/@blueprintjs/table@1.8.1/dist/table.css`, rel="stylesheet")
    body
        h1 Overanalyzed
        span(class="pt-icon-standard pt-icon-projects")