doctype html
html
    head
        title Scaffolding
        script(src=`${bundleBaseUrl}/bundle.js`, type="text/javascript")
        link(href=`//unpkg.com/@blueprintjs/core@1.24.0/dist/blueprint.css`, rel="stylesheet")
        link(href=`//unpkg.com/@blueprintjs/datetime@1.19.0/dist/blueprint-datetime.css`, rel="stylesheet")
        link(href=`//unpkg.com/@blueprintjs/table@1.21.0/dist/table.css`, rel="stylesheet")
        link(href=`//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i`, rel="stylesheet")
        style(type='text/css').
            html, body {
                font-family: 'Lato', sans-serif;
                font-weight: 300;
            }
    body
        h1 Header 1
        h2 Header 2
        h3 Header 3
        b Bold line
        p The quick brown fox jumps over the lazy dog